@page "/"

<div style="vertical-align:middle">
    <div class="text-center" style="margin-top:2%">
        <RadzenText TextStyle="TextStyle.H1" Style="margin-top:0%;">@(WebsiteLoc.WebsiteTitle)</RadzenText>
        <RadzenCard>
            <RadzenText TextStyle="TextStyle.Body1" Style="margin-top:0%;">@(WebsiteLoc.Description)</RadzenText>
        </RadzenCard>
    </div>
</div>

@if (this.timeLeft.TotalMilliseconds > 0)
{
    <div style="vertical-align:middle">
        <div class="text-center" style="margin-top:2%">
            <RadzenText TextStyle="TextStyle.H4" Style="margin-top:5%;">@($"{WebsiteLoc.TimeLeft}:")</RadzenText>
            <RadzenText TextStyle="TextStyle.H1" Style="display:inline">@($"{this.timeLeft.Days} {WebsiteLoc.Days} {this.timeLeft.Hours} {WebsiteLoc.Hours} {this.timeLeft.Minutes} {WebsiteLoc.Minutes} {this.timeLeft.Seconds} {WebsiteLoc.Seconds}")</RadzenText>
        </div>
    </div>
}
else
{
    <div style="vertical-align:middle">
        <div class="text-center" style="margin-top:5%">
            <RadzenText TextStyle="TextStyle.H4" Style="margin-top:5%;color:red">@($"{WebsiteLoc.DeadlineBrokenBy}:")</RadzenText>
            <RadzenText TextStyle="TextStyle.H1" Style="display:inline;color:red">@($"{Math.Abs(this.timeLeft.Days)} {WebsiteLoc.Days} {Math.Abs(this.timeLeft.Hours)} {WebsiteLoc.Hours} {Math.Abs(this.timeLeft.Minutes)} {WebsiteLoc.Minutes} {Math.Abs(this.timeLeft.Seconds)} {WebsiteLoc.Seconds}")</RadzenText>
        </div>
    </div>
}


<div style="vertical-align:middle">
    <div class="text-center" style="margin-top:5%">
        <RadzenRow Style="margin-bottom:10px; align-content:center; display:block !important;">
            <RadzenButton Click="() => SetTab(0)">@(WebsiteLoc.Promises)</RadzenButton>
            <RadzenButton Click="() => SetTab(1)">@(WebsiteLoc.Compass)</RadzenButton>
            <RadzenButton Click="() => SetTab(2)">@(WebsiteLoc.BillProjects)</RadzenButton>
        </RadzenRow>
        @if(tab==0)
        {
            <Promises></Promises>
        }
        else if(tab==1)
        {
            <Compass></Compass>
        }
        else if(tab==2)
        {
            <Bill></Bill>
        }
    </div>
</div>

@code {
    private DateTime start = new DateTime(2023, 12, 13, 12, 0, 0);
    private DateTime end = new DateTime(2023, 12, 13, 12, 0, 0) + TimeSpan.FromDays(100);
    private TimeSpan timeLeft;
    private System.Threading.Timer? timer;
    TabPosition tabPosition = TabPosition.Top;

    private int tab = 0;

    protected override async Task OnInitializedAsync()
    {
        timeLeft = (end - start) - (DateTime.Now - start);
        // timeLeft = TimeSpan.FromSeconds(-1);
        // timeLeft = TimeSpan.FromSeconds(1000);
        // NOTE: THE FOLLOWING CODE ADDED
        timer = new System.Threading.Timer(async (object? stateInfo) =>
        {
            timeLeft = timeLeft.Subtract(TimeSpan.FromSeconds(1));
            StateHasChanged();
        }, new System.Threading.AutoResetEvent(false), 0, 1000);
    }

    void OnChange(int index)
    {

    }

    private void SetTab(int x)
    {
        this.tab = x;
        StateHasChanged();
    }
}
